.heroItem{
    flex: 0 1 90%;
    display: grid;
    grid-template-columns: auto 1fr;
    border: 3px solid black;
    padding: 10px;
    padding-left: 20px;
    margin: 20px 10% 5px 10%;
    a{
        text-decoration: none;
        font-size: 2em;
        font-weight: bold;
        color: black
    }
    .imageLink{
        // margin-right: 15px;
        align-self: top;
    }
    .contentHero{
        padding: 0px 5px 5px 5px ;
        // display: grid;
        // grid-template-rows: auto 1fr 50px;
    }
    .heroDescription{
        margin-bottom: 10px;
    }
    .detailButton{
        background-color: midnightblue;
        color: white;
    }
}

